<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="jira.apiToken" value="YnVnLWFjY29yQGVraW5vLmNvbTpGaDhMU3I5MU1tODYyaHU5dXhHaUNFNUM="/>
		<add key="jira.baseUrl" value="https://accor-it.atlassian.net/"/>
		<add key="xray.bug.projectKey" value="BAS"/>
		<add key="xray.test.planKey" value="BAS-19965"/>
	</appSettings>
</configuration>